.row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  font-size: 0.5rem;
  width: 100%;
}

.row > button {
  margin-left: 4px;
  margin-right: 8px;
}

.row:not(:last-child) {
  margin-bottom: 16px;
}

.row *.last-child {
  margin-bottom: 16px;
}

.userTabPanel {
  padding-left: 0.5rem;
  width: var(--form-width);
}

.userTabPanel ul {
  padding-left: 0;
}

.form {
  display: flex;
  flex-direction: column;
}

.tabsContainer {
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  --form-width: 320px;
}

.tabsContainer h1 {
  padding-left: 0.5rem;
  font-size: 0.4rem;
}

.tabs {
  margin-bottom: 1rem;
  border-top: 0.5px solid gray;
  border-bottom: 0.5px solid gray;
  width: var(--form-width);
}

.formContainer {
  height: 80vh;
  min-height: 80vh;
  max-height: 80vh;
}

.formContainer h2,
.formContainer h3,
.formContainer h4,
.formContainer ul {
  margin: 0 0 0.5rem 0;
  text-align: left;
  font-size: 0.65rem;
}

.formContainer ul {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.formContainer .valueCol {
  font-size: 0.45rem;
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: "Courier New", Courier, monospace;
}

.button {
  appearance: none;
  background: none;
  font-size: 32px;
  padding-left: 12px;
  padding-right: 12px;
  outline: none;
  border: 2px solid transparent;
  color: rgb(112, 76, 182);
  padding-bottom: 4px;
  cursor: pointer;
  background-color: rgba(112, 76, 182, 0.1);
  border-radius: 2px;
  transition: all 0.15s;
}

.textbox {
  font-size: 32px;
  padding: 2px;
  width: 64px;
  text-align: center;
  margin-right: 4px;
}

.submitBtn {
  width: 100%;
}

.button:hover,
.button:focus {
  border: 2px solid rgba(112, 76, 182, 0.4);
}

.button:active {
  background-color: rgba(112, 76, 182, 0.2);
}

.error {
  color: red;
}
